<% content_for :navbar do %>
  <li><%= link_to 'Projects', '', fragment: 'projects', class: 'page-scroll' %></li>
<% end %>

<section id="projects" class="features navy-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>My Own Projects</h1>

        <p class="lead">
          I've always got a few projects of my own on the go, in addition to
          working on client projects. It gives me an excuse to brush up on new
          technologies, and to keep my skills sharp. Plus there are just a
          tonne of things that I think should already exist in this world, so
          I'm trying to gauge the market, see if anyone else feels the same
          way&hellip;
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 features-text">
        <small style="text-transform: uppercase">ruby, ios, web, mental health, wellbeing, analytics</small>
        <h2><%= utm_link_to 'The Happiness Project', 'https://woss.name/' %></h2>

        <i class="fa fa-bar-chart big-icon pull-right"></i>

        <p>
          We’re exploring tools &amp; technologies that will allow people to
          measure, manage &amp; improve their mental wellbeing. We’re
          performing experiments that allow us to better understand ourselves
          and our surrounding environment, so that we can figure out what makes
          us truly happy!
        </p>

        <p>
          Right now, we're looking for people with an interest in improving
          their mental wellbeing to help us shape these tools. Would you be
          willing to help out?

          <% utm_link_to 'https://woss.name/', target: '_blank' do %>
            Read more
            <i class="fa fa-external-link"></i>
          <% end %>
        </p>
      </div>

      <div class="col-lg-5 features-text">
        <small style="text-transform: uppercase">book, internet, protocols, dns, tcp/ip</small>
        <h2><%= utm_link_to 'A Sneak Peek at The Internet', 'https://the-internet.io/' %></h2>

        <i class="fa fa-book big-icon pull-right"></i>

        <p>
          What happens when you enter <q>www.facebook.com</q> into your web
          browser and hit enter?
        </p>

        <p>
          A Sneak Peek at The Internet will take you on a deep dive through the
          network stack, from HTTP, SSL, TCP and IP, all the way down through
          the data link layer, back up to Facebook's data centres, and the
          return journey back to the browser.

          <% utm_link_to 'https://the-internet.io/', target: '_blank' do %>
            Read more
            <i class="fa fa-external-link"></i>
          <% end %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 features-text">
        <small style="text-transform: uppercase">podcast, productivity, programming, context, mental health, wellbeing</small>
        <h2><%= utm_link_to 'How I Code', 'https://howicode.com/' %></h2>

        <i class="fa fa-headphones big-icon pull-right"></i>

        <p>
          I want to go on a holistic exploration of how developers write code
          in a sustainable, enjoyable way. I want to hear about their physical
          environment; the tools they use for development; the SaaS apps they
          use to make their lives easier; the productivity methodologies they
          subscribe to; how they balance work and life; and what they do when
          they're not at the computer.
        </p>

        <p>
          I think that documenting this bigger picture will give us a greater
          insight into what makes for an awesome developer, how we can lead
          more sustainable lives, and how these people tick.

          <% utm_link_to 'https://howicode.com/', target: '_blank' do %>
            Read more
            <i class="fa fa-external-link"></i>
          <% end %>
        </p>
      </div>

      <div class="col-lg-5 features-text">
        <small style="text-transform: uppercase">ruby, ios, analytics, postgresql, heroku</small>
        <h2><%= utm_link_to 'Rock Club', 'https://rock-climbing.club/' %></h2>

        <i class="fa fa-picture-o big-icon pull-right"></i>

        <p>
          I'd like to keep track of my indoor rock climbing. In particular, I'd
          like to know if my performance is improving, or if it has plateaued
          (pun intended!). I've got a bit of a system for keeping track, and
          I'd like to extend it so that other people can participate, too. I
          reckon there's a tonne of potential for gamifying things here!
        </p>

        <p>
          But that's just the start. With an Apple Watch strapped to your
          wrist, or an iPhone (securely!) pocketed away, I think we can collect
          a pile of useful metrics about your climbing automatically. There's
          the iOS motion sensors, and there's iBeacon indoor location; I think
          the combo could automagically track your climbs,
          <strong>and provide feedback on your technique</strong>.

          <% utm_link_to 'https://rock-climbing.club/', target: '_blank' do %>
            Read more
            <i class="fa fa-external-link"></i>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>
