<% content_for :navbar do %>
  <li><%= link_to 'Projects', '', fragment: 'projects', class: 'page-scroll' %></li>
<% end %>

<section id="projects" class="features navy-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>My Own Projects</h1>

        <p class="lead">
          I've always got a few projects of my own on the go, in addition to
          working on client projects. It gives me an excuse to brush up on new
          technologies, and to keep my skills sharp. Plus there are just a
          tonne of things that I think should already exist in this world, so
          I'm trying to gauge the market, see if anyone else feels the same
          way&hellip;
        </p>
      </div>
    </div>

    <div class="row">
      <% data.projects.each_with_index do |(id, project), i| %>
        <% content_tag :div, class: "col-lg-5 #{i % 2 == 0 ? 'col-lg-offset-1' : ''} features-text" do %>
          <p class="text-muted">
            <%= project.tags.join(', ') %>
          </p>

          <h2>
            <%= utm_link_to project.title, project.url %>
          </h2>

          <%= fa project.icon, class: 'big-icon pull-right' %>

          <%= markdown project.description %>

          <p class="text-center" style="margin-top: 40px">
            <% utm_link_to project.url, class: 'btn btn-default', target: '_blank' do %>
              Learn more <%= fa :external_link %>
            <% end %>
          </p>
        <% end %>

        <% if i % 2 == 1 %>
          <div class="clearfix visible-lg-block"></div>
        <% end %>
      <% end %>

    </div>
  </div>
</section>
