<section class="comments gray-section" style="margin-top: 0" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Testimonials</h1>

        <p>
          Here are some of the lovely things that previous clients and
          colleagues have said about me:
        </p>
      </div>
    </div>
    <div class="row features-block">
      <% data.testimonials.each do |id, testimonial| %>
        <div class="col-lg-4" id="testimonial-<%= id %>">
          <div class="bubble">
            <%= markdown testimonial.text %>
          </div>
          <div class="comments-avatar">
            <a href="<%= testimonial.linked_in_url %>" title="<%= [ testimonial.name, testimonial.job_title ].compact.join(', ') %>" class="pull-left">
              <img alt="<%= [ testimonial.name, testimonial.job_title ].compact.join(', ') %>" src="<%= testimonial.image_url %>">
            </a>
            <div class="media-body">
              <div class="commens-name">
                <%= link_to testimonial.name, testimonial.linked_in_url %>
              </div>
              <small class="text-muted">
                <% if testimonial.company.present? %>
                  <%= testimonial.job_title %>,
                  <%= testimonial.company_url.present? ? link_to(testimonial.company, testimonial.company_url) : testimonial.company %>
                <% else %>
                  <%= testimonial.job_title %>
                <% end %>
            </small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</section>
